// COLORS
$color-primary: #0f0d1e;
$color-primary-hover: #1b1734;
$color-secondary: #18142e;
$color-tertiary: #5b35d5;
$color-white: #fff;
$color-black: #000;
$color-grey: #adaabf;
$color-white-grey: #ebeaf5;

// FONT FAMILY
$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "Helvetica Neue Regular";
