// COLORS
$color-primary: #0f0d1e;
$color-primary-hover: #1b1734;
$color-white: #fff;
$color-black: #000;

// FONT FAMILY
$font-family-primary: "Roboto", sans-serif;
$font-family-secondary: "Helvetica Neue Regular";
