body {
  background-color: $color-primary;
  font-family: Inter, sans-serif;

  // HEADER SECTION
  header {
    position: sticky;
    top: 0;
    z-index: 100000000000000000000000000;
    background-color: $color-primary;
    font-weight: 300;
    .container {
      position: relative;
    }
    .nav-logo {
      a {
        img {
          width: 100%;
        }
      }
    }
    nav {
      ul {
        width: max-content;
        li {
          .dropdown-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin-left: 0.9rem;
            }

            .dropdown-arrow {
              transition: all 0.4s;
            }
            .dropdown-arrow.active {
              transform: rotate(180deg);
            }
          }

          .dropdown-content {
            position: absolute;
            top: 83%;
            background-color: $color-white;
            border-radius: 0.5rem;
            transition: all 1s ease; //Don't working
            display: none;
            // height: 0;  //for scroll height
            // overflow: hidden;
            ul {
              padding: 1rem 0;
              li {
                padding: 12px 20px;
                a {
                  color: $color-black;
                  padding: 10px 20px;

                  &:hover {
                    color: $color-tertiary;
                  }
                }
              }
            }
          }
          .dropdown-content.active {
            display: block;
            // height: max-content; //scroll heigt
          }
          .dropdown-content-2 {
            position: absolute;
            overflow: auto;
            max-height: 85vh;
            display: none;
            top: 83%;
            background-color: $color-white;
            border-radius: 0.5rem;
            padding: 0.5rem 0 2rem 0;
            h3 {
              color: $color-black;
              padding: 1rem 0 0 1rem;
            }
            ul {
              padding: 0 0 1rem 0;
              li {
                padding: 12px 20px;
                a {
                  color: $color-black;
                  padding: 10px 20px;

                  &:hover {
                    color: $color-tertiary;
                  }
                }
              }
            }
            .bold-link {
              font-weight: bold;
              font-size: 1.17rem;
              margin-left: -18px;
            }
          }
          .dropdown-content-2.active {
            display: block;
          }
        }
      }
    }
    .hamburger-icon {
      display: none;
      svg {
        width: 40px;
        height: 40px;
      }
    }

    .responsive-nav-container {
      display: none;
      max-width: 990px;
      min-height: 100vw;
      background-color: $color-secondary;
      height: 100vh;
      position: absolute;
      overflow: hidden;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      .dropdown-nav {
        left: 0;
        top: 0;
        right: 0;
        bottom: auto;
        overflow: auto;
        max-height: 100vh;
        min-height: 100vh;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #1b1734;

        .responsive-nav-links {
          .responsive-nav-link,
          .responsive-dropdown-container {
            margin-left: 8px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 20px;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            line-height: 150%;
            font-weight: 300;
          }
          .responsive-dropdown-content {
            overflow: auto;
            max-height: 85vh;
            margin-top: 8px;
            padding: 0 16px;
            border-radius: 8px;

            .content-container {
              width: 736px;
              overflow: hidden;
              padding-top: 24px;
              padding-bottom: 24px;
              .content-links {
                width: 100%;
                .content-link {
                  padding-top: 12px;
                  padding-bottom: 12px;
                  padding-left: 56px;
                  background-color: #1b1734;
                  color: #fff;
                  font-size: 16px;
                  line-height: 150%;
                  font-weight: 300;
                }
              }
            }
          }

          .responsive-dropdown-content-2 {
            overflow: auto;
            max-height: 85vh;
            margin-top: 8px;
            padding: 0 16px;
            border-radius: 8px;

            .content-container {
              width: 736px;
              overflow: hidden;
              padding-top: 24px;
              padding-bottom: 24px;
              .content-links {
                width: 100%;
                .content-link {
                  padding-top: 12px;
                  padding-bottom: 12px;
                  padding-left: 56px;
                  background-color: #1b1734;
                  color: #fff;
                  font-size: 16px;
                  line-height: 150%;
                  font-weight: 300;
                }
              }
            }
            .bold-link {
              display: inline-block;
              margin-bottom: 16px;
              padding-top: 0;
              padding-bottom: 4px;
              padding-left: 0;
              font-size: 18px;
              line-height: 26px;
              font-weight: 600;
            }
          }
          .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .responsive-nav-container.active {
      display: block;
    }

    //RESPONSIVE DESIGN FOR HEADER
    @media screen and (max-width: 991px) {
      padding: 4px 48px;
      width: 100%;
      .container {
        padding: 8px 0;
        // min-width: 900px;
        .row {
          height: 60px;
          width: 100%;
          margin: 0 auto;
          .nav-logo {
            width: 20%;
            a {
              img {
                vertical-align: middle;
                display: inline-block;
                max-width: 100%;
                padding-top: 0;
                padding-bottom: 0;
                border: 1px transparent;
                border-radius: 16px;
              }
            }
          }
          nav {
            display: none;
          }

          .hamburger-icon {
            display: block;
            width: 5%;
            margin-left: auto;
          }
        }
      }
    }
  }

  // HERO SECTION

  #hero {
    .hero-sec-padding {
      padding: 120px 0 120px 0;

      .hero-text-container {
        .hero-text-top {
          margin-bottom: 7rem;
          h1 {
            max-width: 720px;
            font-size: 2.9rem;
            line-height: 140%;
            padding: 2rem 0;
            font-weight: 600;
          }
          p {
            max-width: 640px;
            font-size: 1.1rem;
            font-weight: 300;
            color: $color-grey;
            line-height: 150%;
            margin-bottom: 1.5rem;
          }
          .spacer {
            height: 24px;
            margin-bottom: 0.5rem;
          }
        }

        .hero-text-bottom {
          p {
            font-style: italic;
            color: $color-grey;
            margin-bottom: 1.5rem;
          }
          .images {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            img {
              height: 40px;
              opacity: 0.5;
              margin-right: 1.5rem;
            }
          }
        }
      }
    }
    // @media screen and (max-width: 991px) {
    //   .hero-section-texts {
    //     width: 100%;
    //     text-align: left;
    //     .hero-text-container {
    //       width: 100%;
    //       margin-left: -13%;
    //       .hero-text-top {
    //         h1 {
    //           position: static;
    //           max-width: 720px;
    //           min-height: auto;
    //           min-width: auto;
    //           margin-top: 0;
    //           font-family: Inter, sans-serif;
    //           color: $color-white;
    //           font-size: 40px;
    //           line-height: 140%;
    //           font-weight: 600;
    //         }
    //         p {
    //           max-width: 720px;
    //           min-height: auto;
    //           min-width: auto;
    //           color: #adaabf;
    //         }
    //       }
    //       .hero-text-bottom {
    //         .images {
    //           flex-wrap: nowrap;
    //         }
    //       }
    //     }
    //   }
    //   .hero-section-img {
    //     width: 100%;
    //   }
    // }
  }

  //EMPLOYING SECTION

  #employing-section {
    background-color: $color-secondary;
    padding: 150px;

    .employing-sec-text {
      padding: 10px 0;
      h3 {
        font-size: 2rem;
        line-height: 140%;
        font-weight: 600;
        max-width: 70%;
      }

      .employing-sec-text-right {
        p {
          font-size: 1.1rem;
          font-weight: 300;
          line-height: 150%;
        }
      }
    }

    .paycheck {
      background-color: $color-tertiary;
      padding: 3rem;
      margin-top: 140px;
      border-radius: 1.3rem;

      .paycheck-text-sec {
        padding-right: 5.5rem;

        h2 {
          font-size: 2.4rem;
          line-height: 130%;
          font-weight: 600;
          text-align: left;
          max-width: 75%;
        }
        p {
          font-size: 1.1rem;
          font-weight: 300;
          line-height: 150%;
        }
      }
      .image {
        width: 95%;
        img {
          width: 100%;
        }
      }
    }
  }

  //FEATURE SECTION

  #feature-section {
    max-width: 1470px;
    margin: 0 auto;
    background-color: $color-primary;
    padding: 140px 80px;

    .future-item-container {
      padding: 120px 48px 120px 80px;
      background-color: $color-secondary;
      border-radius: 1rem;
      margin-bottom: 120px;

      .future-item-left {
        padding-right: 80px;
        h5.color-orange-pink {
          margin-bottom: 16px;
          font-family: Rajdhani, sans-serif;
          color: #ff9a83;
          font-size: 18px;
          line-height: 1.5;
          font-weight: 500;
          text-align: left;
          letter-spacing: 1.5px;
          text-transform: uppercase;
        }
        h5.color-green {
          margin-bottom: 16px;
          font-family: Rajdhani, sans-serif;
          color: #00d8be;
          font-size: 18px;
          line-height: 1.5;
          font-weight: 500;
          text-align: left;
          letter-spacing: 1.5px;
          text-transform: uppercase;
        }
        h5.color-orange {
          margin-bottom: 16px;
          font-family: Rajdhani, sans-serif;
          color: #f18c33;
          font-size: 18px;
          line-height: 1.5;
          font-weight: 500;
          text-align: left;
          letter-spacing: 1.5px;
          text-transform: uppercase;
        }
        h5.color-blue {
          margin-bottom: 16px;
          font-family: Rajdhani, sans-serif;
          color: #33abd1;
          font-size: 18px;
          line-height: 1.5;
          font-weight: 500;
          text-align: left;
          letter-spacing: 1.5px;
          text-transform: uppercase;
        }
        h3 {
          font-size: 33px;
          line-height: 140%;
          font-weight: 600;
          color: $color-white;
          margin-bottom: 24px;
        }
        p {
          color: $color-grey;
          margin-bottom: 32px;
          font-size: 18px;
          font-weight: 300;
          line-height: 150%;
        }
      }

      .future-item-right {
        .image {
          width: 100%;
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }

  // GLOBAL SECTION

  #global-section {
    background-color: $color-secondary;
    padding: 140px 80px;
    .container {
      max-width: 1470px;
      margin: 0 auto;

      .global-section-items {
        .global-header {
          h2 {
            max-width: 540px;
            margin-bottom: 24px;
            color: $color-white;
            font-size: 48px;
            line-height: 120%;
            font-weight: 600;
            text-align: center;
          }
        }

        .global-section-text {
          margin-top: 56px;
          margin-bottom: 56px;
          .global-section-text-item {
            padding-right: 64px;

            h2 {
              margin-top: 24px;
              margin-bottom: 0;
              font-family: Inter, sans-serif;
              color: $color-white;
              font-size: 20px;
              line-height: 150%;
              font-weight: 500;
            }

            p {
              max-width: 80%;
              min-height: auto;
              min-width: auto;
              margin-top: 10px;
              color: $color-grey;
              font-size: 20px;
              line-height: 150%;
            }
          }
        }
      }
    }
  }

  // TESTIMONIALS SECTION

  #testimonials-section {
    background-color: $color-tertiary;
    padding: 140px 80px;

    .container {
      max-width: 1470px;
      margin: 0 auto;

      .testimonials-items {
        .header h2 {
          position: static;
          max-width: 540px;
          min-height: auto;
          min-width: auto;
          margin-top: 0;
          margin-bottom: 24px;
          font-family: Inter, sans-serif;
          color: $color-white;
          font-size: 35px;
          line-height: 120%;
          font-weight: 600;
          text-align: left;
        }

        .testimonials-pictures {
          margin-top: 48px;
          .picture {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 24px 32px;
            opacity: 0.3;
            border-bottom: 2px solid #ff9a83;

            img {
              height: 60px;
            }

            .text {
              padding: 9px 20px;
              h2 {
                color: $color-white;
                font-size: 18px;
                font-weight: 500;
              }
              p {
                color: $color-white;
                font-weight: 300;
              }
            }
          }
          .picture.active {
            opacity: 1;
          }
        }

        .testimonials-text-sec {
          background-color: $color-white;
          padding: 80px 120px 80px 120px;
          border-radius: 1rem;

          .testimonials-text {
            position: relative;
            max-width: 720px;
            text-align: center;
            display: none;
            h3 {
              color: $color-black;
              margin-bottom: 16px;
              font-size: 24px;
              line-height: 170%;
              font-weight: 300;
              text-align: center;
            }

            p {
              color: $color-tertiary;
              margin-right: auto;
              margin-left: auto;
              font-size: 18px;
              text-align: center;
              font-weight: 300;
              line-height: 150%;
            }
          }
          .testimonials-text.active {
            display: block;
          }
        }
      }
    }
  }

  // CALL TO ACTION SECTION

  .call-to-action-section {
    padding: 160px 0;
    background-color: $color-primary;
    text-align: center;

    .cta-section-items {
      h2 {
        max-width: 890px;
        min-height: auto;
        min-width: auto;
        margin-top: 0;
        margin-bottom: 24px;
        font-family: Inter, sans-serif;
        color: $color-white;
        font-size: 35px;
        line-height: 120%;
        font-weight: 600;
      }
      .spacer {
        height: 24px;
      }
    }
  }

  // BLOG SECTION
  #blog-section {
    background-color: $color-secondary;
    padding: 140px 80px;
    .container {
      max-width: 1470px;
      margin: 0 auto;

      .blog-section-items {
        text-align: center;

        h2.header {
          text-align: center;
          margin-bottom: 70px;
          font-family: Inter, sans-serif;
          color: #fff;
          font-size: 35px;
          line-height: 120%;
          font-weight: 600;
        }
        .blog-items {
          margin-top: 48px;
          margin-bottom: 60px;
          .blog-item {
            transition: transform 0.2s;
            cursor: pointer;
            .blog-item-top {
              position: relative;
              max-width: 476px;
              height: 240px;
              .image {
                background: url("../images/blog-item-1.png");
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                width: 100%;
                height: 240px;
              }
              .image-2 {
                background: url("../images/blog-item-2.png");
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                width: 100%;
                height: 240px;
              }
              .image-3 {
                background: url("../images/blog-item-3.png");
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                width: 100%;
                height: 240px;
              }
              .remote-work {
                position: absolute;
                top: 76%;
                left: 9%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: 300;
                background-color: $color-tertiary;
                height: 30px;
                border-radius: 5px;
                padding: 0.5rem;
              }
            }

            .blog-item-bottom {
              background-color: $color-primary;
              padding-top: 0.5rem;
              padding-bottom: 1rem;
              text-align: left;
              border-bottom-left-radius: 1rem;
              border-bottom-right-radius: 1rem;
              h2 {
                margin-top: 32px;
                margin-bottom: 22px;
                padding-right: 32px;
                padding-left: 32px;
                font-size: 20px;
                line-height: 150%;
              }
              & > p {
                padding-right: 32px;
                padding-left: 32px;
                font-size: 17px;
                font-weight: 300;
                color: $color-grey;
                line-height: 150%;
                margin-bottom: 24px;
              }
              .calendar {
                display: flex;
                align-items: center;
                padding-left: 2rem;

                p.calendar-text {
                  font-size: 16px;
                  color: $color-grey;
                }
              }
            }

            &:hover {
              transform: translateY(-5px);
            }
          }
        }
      }
    }
  }

  // FOOTER

  footer {
    padding: 80px 48px;
    background-color: $color-primary;

    .footer-items {
      .footer-item-container {
        display: flex;
        justify-content: space-between;
        .col-11 {
          width: 540px !important;
        }
      }

      .logo-footer {
        margin-right: 5rem;
        img {
          width: 60px;
          height: 60px;
        }
      }

      h3 {
        margin-top: 0;
        margin-bottom: 16px;
        font-family: Rajdhani, sans-serif;
        color: $color-grey;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
        text-align: left;
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }

      ul {
        li {
          a {
            display: inline-block;
            margin-bottom: 16px;
            color: $color-white;
            font-size: 16px;
            line-height: 150%;
            font-weight: 300;
            text-decoration: none;
            white-space: nowrap;
            -o-object-fit: fill;
            object-fit: fill;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .col-footer-3 {
        padding-left: 80px;
      }

      .form-container {
        padding-bottom: 9rem;
        padding-left: 3rem;
        p {
          max-width: 80%;
          min-height: auto;
          min-width: auto;
          margin-top: 10px;
          color: $color-grey;
          font-size: 16px;
          margin-bottom: 1.5rem;
        }

        .form-footer {
          display: flex;
          flex-direction: column;

          input {
            height: 48px;
            width: 90%;
            margin-bottom: 16px;
            border-radius: 4px;
            color: #333;
            font-size: 17px;
            font-weight: 400;
            padding: 8px 12px;
            outline: none;
          }

          button {
            width: max-content;
            padding: 0.7rem 2.5rem;
            font-size: 17px;
            line-height: 150%;
            font-weight: 400;
            text-align: center;
            text-decoration: none;
          }
        }
      }
      .copyright-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          color: $color-grey;
          max-width: 80%;
          font-weight: 300;
          padding: 1rem 0;
        }

        .social-icons {
          a {
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1200px) {
      padding: 80px 20px;
      .container {
        max-width: 1100px;
        .footer-items {
          .row {
            .col-7 {
              padding-left: 0 !important;

              .col-footer-1 {
                width: 25%;
              }
              .col-footer-2 {
                width: 33%;
                margin-right: 2rem;
                h3 {
                  white-space: nowrap;
                }
              }
              .col-footer-3 {
                padding-left: 2rem;
              }
            }
          }
          .form-container {
            padding: 0 !important;
          }
        }
      }
    }
    @media screen and (max-width: 1400px) {
      .container {
        max-width: 100%;
      }
    }
    @media screen and (max-width: 1262px) {
      .container {
        .footer-items {
          .footer-item-container {
            .row {
              width: 61%;
              .col-11 {
                width: 500px !important;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1094px) {
      .container {
        .footer-items {
          .logo-footer {
            margin-right: 2rem !important;
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      padding-left: 48px;
      padding-right: 48px;
      .container {
        .footer-items {
          .footer-item-container {
            .logo-footer {
              margin-bottom: 2rem;
            }
            .row {
              flex-direction: column;
              .col-footer-1 {
                margin-bottom: 24px;
              }
              .col-footer-2 {
                margin-bottom: 24px;
              }
              .col-footer-3 {
                padding-left: 12px;
              }
            }
            .form-container {
              width: 50%;
            }
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      .container {
        .footer-items {
          .footer-item-container {
            flex-direction: column;
            .row {
              .col-11 {
                flex-direction: row;
                flex-wrap: wrap;

                .col-footer-1 {
                  margin-right: 32px;
                  margin-bottom: 32px;
                  margin-left: 0;
                }
                .col-footer-2 {
                  margin-right: 0;
                  margin-bottom: 40px;
                }
              }
            }
            .form-container {
              width: 110%;
              margin: 0 auto;
            }
          }
        }
      }
    }

    @media screen and (max-width: 376px) {
      padding-left: 10px;
      padding-right: 10px;
      .container {
        .footer-items {
          .footer-item-container {
            flex-direction: column;
            margin-bottom: 48px;
            .row {
              .col-11 {
                flex-direction: column;

                .col-footer-3 {
                  margin-bottom: 34px;
                }
              }
            }
            .form-container {
              width: 110%;
              margin: 0 auto;
              p {
                font-size: 14px;
              }
              .form-footer {
                .button-primary-bigger {
                  width: 90%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.custom-padding {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.hover-color:hover {
  background-color: $color-secondary;
}
