.login {
  background-color: $color-white;
  overflow-x: hidden;
  min-height: 100vh;
  .login-container {
    height: 100vh;
    .left-side {
      height: auto;
      .aside {
        --tw-bg-opacity: 1;
        background-color: rgba(248, 248, 252, var(--tw-bg-opacity));
        display: flex;
        flex-direction: column;
        height: 100%;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        .logo {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          padding-left: 1.5rem;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
          cursor: pointer;
          .logo-left {
            color: $color-white;
            fill: white;
            stroke: currentcolor;
            background-color: rgba(91, 53, 213, var(--tw-bg-opacity));
            padding: 0.5rem;
            margin-right: 0.75rem;
            border-radius: 4px;
          }
        }
        .aside-bottom {
          width: 316px;
          margin-bottom: 40px;

          .aside-paragh {
            --tw-text-opacity: 1;
            font-family: Inter, sans-serif;
            font-size: 24px;
            line-height: 140%;
            font-weight: 600;
            color: rgb(91, 85, 127);
            text-align: center;
          }
          .trusted-by {
            --tw-text-opacity: 1;
            font-family: Inter, sans-serif;
            font-size: 16px;
            line-height: 150%;
            font-weight: 600;
            color: rgb(132, 128, 159);
            text-align: center;
          }
        }
      }
    }

    .right-side {
      a {
        color: $color-tertiary;
      }
      .login-form-sec {
        padding-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .login-header {
          font-size: 32px;
          line-height: 140%;
          font-family: Inter, sans-serif;
          font-weight: 600;
          --tw-text-opacity: 1;
          color: rgba(15, 13, 30, var(--tw-text-opacity));
        }

        .login-paragh {
          margin-top: 32px;
          --tw-text-opacity: 1;
          color: rgba(15, 13, 30, var(--tw-text-opacity));
          font-family: Inter, sans-serif;
          font-size: 16px;
          line-height: 150%;
          font-weight: 400;
        }
        form {
          display: flex;
          flex-direction: column;
          -webkit-box-pack: justify;
          justify-content: space-between;
          border-bottom-width: 1px;
          --tw-border-opacity: 1;
          border-color: rgba(235, 234, 245, var(--tw-border-opacity));
          margin-top: 40px;
          padding-bottom: 40px;
          width: 35%;
          label {
            color: $color-black;
          }
          input {
            margin-top: 5px;
            margin-bottom: 20px;
            height: 40px;
            padding: 0.7rem;
            outline: none;
          }

          .button-primary-bigger {
            text-align: center;
            color: $color-white;
            margin-top: 20px;
            margin-bottom: 20px;
          }

          .forget-p {
            --tw-text-opacity: 1;
            color: rgba(15, 13, 30, var(--tw-text-opacity));
            font-family: Inter, sans-serif;
            font-size: 14px;
            line-height: 150%;
            font-weight: 400;

            .forgot {
              --tw-text-opacity: 1;
              color: rgba(91, 53, 213, var(--tw-text-opacity));
              text-decoration: underline;
              transition-property: background-color, border-color, color, fill,
                stroke;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              transition-duration: 100ms;
              font-family: Inter, sans-serif;
              text-underline-position: under;
            }
          }
        }
        .dont-have {
          margin-top: 32px;
          --tw-text-opacity: 1;
          color: rgba(15, 13, 30, var(--tw-text-opacity));
          font-family: Inter, sans-serif;
          font-size: 14px;
          line-height: 150%;
          font-weight: 400;
          text-align: left;

          .dont-have-a {
            --tw-text-opacity: 1;
            color: rgba(91, 53, 213, var(--tw-text-opacity));
            text-decoration: underline;
            transition-property: background-color, border-color, color, fill,
              stroke;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 100ms;
            font-family: Inter, sans-serif;
            text-underline-position: under;
          }
        }
      }
    }
  }
}
